.nav-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-color-primary);
  border-top: solid 1px var(--element-color-primary-hover);

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;

    .section-container {
      width: 100%;
      border-radius: 7px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .nav-menu-container {
        width: 100%;
      }

      .account-container,
      .dashboard-container {
        padding-right: .8rem;
      }

      .nav-item {
        gap: 5px;
        width: 100%;
        padding: .5rem;
        font-size: .7rem;
        display: flex;
        color: #fff;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        border-top: 3px solid transparent;
        transition: all 0.3s ease-in-out;

        i {
          font-size: 1.2rem;
        }

        &:hover {
          color: #e3d2a8;
        }
      }

      .router-link-active {
        color: #e3d2a8;
        filter: drop-shadow(0 0 4px #ff00003e);
        border-top: 3px solid var(--color-primary);
      }
    }
  }
}